<style>

    @font-face {
        font-family: "Moderat";
        src: url("/assets/fonts/Moderat-Regular.woff2") format("woff2");
        font-weight: 400;
    }
    @font-face {
        font-family: "Moderat";
        src: url("/assets/fonts/Moderat-Bold.woff2") format("woff2");
        font-weight: bold;
    }

    :root {
        --font-default: clamp(18px, 1.4vw, 22px);
        --font-s: 0.87rem;
        --font-l: 1.4rem;
        --font-line-height: 1.5;
        --spacing-s: 0.2rem;
        --spacing-m: 1rem;
        --spacing-l: 2rem;
        --spacing-xl: 4rem;
        --spacing-max-width: 35rem;

        --pale-yellow: hsl(60, 22%, 92%);
        --terracotta: hsl(27, 56%, 40%);
        --denim: hsl(205, 100%, 25%);
        --grey: hsl(0, 2%, 40%);
        --dark: hsl(0, 0%, 0%);
        
        --color-base: var(--dark);
        --color-bg: var(--pale-yellow);

        --padding-page-bottom: 10vh;
        
        --z-index-menu: 90;
        --z-index-nav-button: 100;

        --font-sans: "Moderat",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", sans-serif;
        --font-serif: serif;
    }

    body {
        background: var(--color-bg);
        min-height: 100vh;
        margin: 0;
        padding: var(--spacing-xl) 1rem var(--padding-page-bottom);
        color: var(--color-base);
        font-family: var(--font-serif);
        line-height: var(--line-height);
        font-size: var(--font-default);
        font-kerning: normal;
        font-variant-ligatures: discretionary-ligatures;    
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, calc((100% - 4rem) / 2));
        grid-auto-rows: fit-content(0.5rem);
        gap: 0.5rem 1rem;
        max-width: 100vw;
    }

    .grid > * {
        grid-row-end: auto;
    }

    @media screen and (min-width: 768px) {
        .grid {
            grid-template-columns: repeat(8, calc((100% - 12rem) / 8));
            gap: 0.5rem 1.5rem;
        }
    }

    @media screen and (min-width: 1400px) {
        .grid {
            grid-template-columns: repeat(12, calc((100% - 18rem) / 12));
        }
    }

    @media screen and (min-width: 2600px) {
        .grid {
            grid-template-columns: repeat(16, calc((100% - 24rem) / 16));
        }
    }

    h1, h2, h3 {
        font-family: var(--font-sans);
        font-weight: bold;
    }
    
    p {
        margin: 1rem auto 0;
    }

    header h1 {
        font-size: clamp(3rem, 10vw, 4rem);
        font-family: var(--font-serif);
        font-style: italic;
    }
    
    a,
    a:visited {
        color: var(--denim);
        transition: color 0.25s ease;
    }
    
    a:hover,
    a:focus,
    a:visited {
        color: var(--terracotta);   
    }
    
    header,
    nav,
    footer,
    main {
        grid-column: 1 / -1;
    }
    
    main {
        margin: var(--spacing-l) auto var(--spacing-xl);
    }

    footer {
        font-family: var(--font-sans);
        color: var(--grey);
    }

    h1 {
        color: var(--dark);
        font-size: var(--font-l);
    }

    h2 {
        color: var(--terracotta);
        font-size: var(--font-default);
    }

    nav {
        font-family: var(--font-sans);
        color: var(--denim);
    }
</style>
