footer {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row;

        li {
            margin: 1rem;
            white-space: nowrap;
        }
    }
}