nav {
  
  @media (min-width: $screen-m) {
    width: 50%;
    width: calc(50% - 0.75rem);
  }
  
  @media (min-width: $screen-l) {
    width: auto;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0;
    
    @media (min-width: $screen-l) {
      flex-flow: column;
    }
  }
}
