<!DOCTYPE html>
<html lang="{{ site.lang | default: "se-SV" }}">
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include style.html %}
    <link rel="stylesheet" href="{{ "./assets/css/main.css" | relative_url }}">
  </head>
  <body class="grid">
    {% include header.html %}
    <main id="swup" class="transition-fade">    
        {{ content }}
    </main>
    
    {% include footer.html %}
    <script src="{{ "./assets/js/swup.js" | relative_url }}"></script> 
    <script src="{{ "./assets/js/index.js" | relative_url }}"></script>
    {% include analytics.html %}
  </body>
</html>
